body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-box {
    background-color: #1c1c1c;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

.logo {
    margin-bottom: 1rem;
}

.logo-placeholder {
    height: 50px;
    width: 50px;
    margin: 0 auto 1rem auto;
    border-radius: 50%;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: #2b2b2b;
    color: #fff;
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.signup-button {
    background-color: #3057ac;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
}

.signup-button:hover {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
}

p a {
    color: #4f86ff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
